/*box-sizingのミックスイン*/

/*clearfixのミックスイン*/

/*メディアクエリのミックスイン*/

/*変数の設定*/

/*全ページ共通の設定*/

* {
	box-sizing: border-box;
}

body {
	position: relative;
	right: 0;
	overflow-x: hidden;
	width: 100%;
	margin: 0 auto;
	font-family: 'meirio','メイリオ',sans-serif;
	font-size: 1.0em;
	box-shadow: 4px 0 3px #c0c0c0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.header {
	position: relative;
	background-color: #ff8c00; /*グローバルナビゲーションの設定*/
}

.header::after {
	display: block;
	content: '';
	clear: both;
}

.header h1 {
	width: 21%;
	padding: 15px 50px;
	text-align: center;
	float: left;
	background-color: #ffffe0;
}

.header h1 a {
	transition: all 0.3s;
}

.header h1 a:hover {
	opacity: 0.5;
}

.header .gnav {
	position: absolute;
	top: 0%;
	left: 18%;
	width: 65%;
}

.header .gnav ul {
	width: 100%;
	list-style-type: none;
	text-align: center;
}

.header .gnav ul::after {
	display: block;
	content: '';
	clear: both;
}

.header .gnav ul li {
	width: 20%;
	float: left;
}

.header .gnav ul li a {
	display: block;
	padding: 5px;
	color: #fff;
	font-size: 1.0em;
	text-decoration: none;
	transition: all 0.3s;
}

.header .gnav ul li a:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.header .gnav ul li a i {
	font-size: 1.8em;
	padding: 10px;
}

.header .gnav ul li a i::after {
	content: attr(title);
	padding: 5px;
	display: block;
	color: #fff;
	font-size: 0.5em;
}

.login {
	position: absolute;
	width: 15%;
	top: 45%;
	right: 1%;
}

.login ul::after {
	display: block;
	content: '';
	clear: both;
}

.login ul li {
	width: 50%;
	float: left;
}

.login ul li a {
	color: #fff;
}

.login ul li a:hover {
	text-decoration: none;
}

.sm_button {
	display: none;
	cursor: pointer;
}

/*ここからサイドナビゲーションの設定*/

.side {
	position: fixed;
	overflow: scroll;
	top: 0;
	right: -240px;
	width: 240px;
	height: 100%;
	background-color: rgba(224, 200, 180, 0.2);
}

.side h2 {
	padding: 10px 10px 0 10px;
}

.side .side__inner {
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.side .profile {
	width: 50%;
	padding: 10px;
	margin: 0 auto;
}

.side .user-name {
	text-align: center;
	padding: 6px;
	font-size: 1.0em;
}

.side p {
	font-size: 0.8em;
	margin: 5px auto;
	line-height: 1.2;
}

.side .user {
	margin-top: 5px;
	font-size: 0.95em;
}

.side .button {
	width: 100%;
	margin: 10px auto;
	border-radius: 5px;
	text-align: center;
	border: 1px solid #c0c0c0;
	background-color: #f5f5f5;
	box-shadow: 0 2px 0 #a9a9a9;
}

.side .button a {
	color: #000;
	display: block;
	padding: 10px;
	text-decoration: none;
}

.side .side-nav {
	margin: 0 auto;
}

.side .side-nav li {
	width: 100%;
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.side .side-nav li:nth-child(4) {
	border: none;
}

.side .side-nav li a {
	color: #000;
	text-decoration: none;
}

.footer {
	width: 100%;
	position: relative;
	background-image: url("../img/allpage/footer_bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.footer::after {
	display: block;
	content: '';
	clear: both;
}

.footer h1 {
	margin-top: 20px;
	padding: 10px;
	width: 30%;
	text-align: center;
	float: left;
}

.footer h1 img {
	max-width: 80%;
}

.footer dl {
	float: left;
	margin-top: 3%;
	width: 40%;
	font-style: normal;
}

.footer dl::after {
	display: block;
	content: '';
	clear: both;
}

.footer dl dt {
	padding: 3px;
	width: 20%;
	float: left;
	text-align: left;
}

.footer dl dd {
	padding: 3px;
	width: 80%;
	float: left;
}

.footer .sitemap {
	width: 28%;
	margin: 4% 0 0 2%;
	float: left;
}

.footer .sitemap li {
	width: 50%;
	text-align: left;
	float: left;
}

.footer .sitemap li a {
	display: block;
	padding: 5px;
	color: #000;
	text-decoration: none;
	transition: all 0.3s;
}

.footer .sitemap li a:hover {
	opacity: 0.6;
}

.footer p {
	clear: both;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

.akineta h2 {
	font-size: 1.5em;
	padding: 40px 0 20px 50px;
}

.akineta h2 i {
	font-size: 1.5em;
	margin-right: 10px;
}

.akineta p {
	font-size: 1.1em;
	padding: 10px 0 20px 50px;
}

.bxslider {
	position: relative;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

.bxslider .slide_box {
	width: 100%;
	margin: 0 auto;
	height: 500px;
}

.bxslider .slide_box p {
	font-size: 1.8em;
	margin-top: 20px;
	text-align: center;
}

.bxslider .slide_box .question {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	font-size: 1.5em;
	padding: 20px;
	text-align: center;
}

.bxslider .slide_box .question .question-text {
	width: 50%;
	margin: 0 auto;
	font-size: 0.8em;
}

.bxslider .slide_box .question textarea {
	margin-top: 10px;
}

.bxslider .slide_box .allergies {
	width: 90%;
	margin: 0 3% 0 7%;
	padding: 0;
}

.bxslider .slide_box .allergies::after {
	display: block;
	content: '';
	clear: both;
}

.bxslider .slide_box .allergies p {
	width: 12%;
	padding: 0;
	margin: 0 auto;
	font-size: 0.6em;
	float: left;
	text-align: left;
}

.bxslider .slide_box .submit {
	width: 30%;
	padding: 15px;
	margin: 0 auto;
	position: absolute;
	top: 80%;
	right: 35%;
	color: #000;
	font-size: 1.4em;
	font-family: 'meirio','メイリオ',sans-serif;
	text-align: center;
	margin-top: -16px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	background-color: #f5f5f5;
	box-shadow: 0 2px 0 #a9a9a9;
	transition: all 0.3s;
}

.bxslider .slide_box .submit:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.charcter {
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: -8%;
}

@media screen and (max-width: 480px) {

.header h1 a img {
	max-width: 60%;
}

.sm_button {
	position: absolute;
	top: 4px;
	right: 10px;
	font-size: 1.7em;
	background-color: #E0C8B4;
	border: none;
	display: block;
}

.sm_button i {
	color: #fff;
}

.sm_button i::after {
	display: block;
	font-family: 'meirio','メイリオ',sans-serif;
	content: attr(data-content);
	text-align: center;
	color: #fff;
	font-size: 0.9em;
}

.footer .sitemap li {
	width: 50%;
	margin: 0 auto;
}

}


/*# sourceMappingURL=../map/akineta-style.css.map */
