@charset "utf-8";

:focus {
  outline: 0
}

ol, ul {
  list-style: none
}

table {
  border-collapse: separate;
  border-spacing: 0
}

caption, th, td {
  font-weight: normal;
  text-align: left
}

blockquote:before, blockquote:after,q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a img{
  border: 0
}

figure{
  margin:0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  display: block;
	margin: auto
}

/*全体*/
#wrapper{
  margin:0 auto;
  padding:0 1%;
  width:100%;
  position:relative
}

.inner{
  margin:0 auto;
  width:100%
}



/*ヘッダー*/
#header .inner{
  margin-top:20px;
  overflow:hidden;
  background:#1e1e1e;
  border:1px solid #efede7
}

* html #header{
  height: 1%
}

/*グリッド*/
.gridWrapper{
  padding-bottom:20px;
  overflow: hidden
}

.gridWrapper{
  height:1%
}

.grid{
  background:#fff;
  box-shadow:0 0 3px #ddd
}

.grid h3{
  padding:10px 0;
  font-weight:bold;
  color:#fff;
  background:#f4a460;
  text-align:center
}

.grid p{
  padding:5px 10px;
  text-align: left
}

.grid p.img{
  padding:0
}

p.readmore{
  padding:10px;
  text-align: right
}

/*フッター内のグリッド(3カラム)*/
#footer .grid{
  color:#fff;
  border:0;
  background:transparent;
  box-shadow:none
}

#footer .grid p{
  padding: 0
}

/*メイン コンテンツ*/
.contents{
    margin: 0 auto;
    width: 80%;
    height: 50%
}

section.contents{
  padding:0;
  margin: auto;
  overflow:hidden;
  font-size:17px;
  background:#fff;
  box-shadow:0 0 3px #ddd
}

* html section.contents{height:1%;}

section.contents p{
  margin-bottom: 5px
}

h3.heading{
  padding:5px 10px;
  margin:0 -10px 20px;
  font-size:20px;
  color:#fff;
  background:#ef7f20;
  text-align: center
}

section.contents img{
  max-width: 100%;
  height:auto
}

img.frame,#gallery img{
  padding:3px;
  box-shadow:0 0 3px #ddd
}

#gallery .grid{
  margin-bottom:10px;
  box-shadow:none;
  border:0
}


/*テーブル*/
a{color:#5d441a;
  text-decoration:none
}

a:hover{
  color:#866326
}

/*PC*/
@media only screen and (min-width:960px){
	#wrapper,.inner{
	width:100%;
	padding:0
	}

	#wrapper{
  padding-bottom: 20px
}

/*モニター幅940px以下*/
@media only screen and (max-width:940px){
	*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

/* スマートフォン */
@media only screen and (max-width:480px){
	#mainBanner h2,#mainBanner h3{
    font-size: 75%
}

.grid{
  float:none;
  width:98%
}

.grid h3{
  padding: 10px 5px
}

@media only screen and (max-width:640px){
  #footer .grid p{
    text-align: center
}

.grid img{
  float:none;
  margin:0 auto;
  width:100%;
  height:auto
}
}
}
