<h1>材料</h1>
<div>
  <% @food.each do |key,value| %>
  <%= Food.find(value[0]).fname %>
  <%= value[1].to_s + "グラム" %><br>
  <% end %>
</div>
<hr>
<h1>作り方</h1>
<div>
  <% @recipe.each do |key,value| %>
  <%= key.gsub(/step/, "手順") %>
  <%= value %><br>
  <% end %>
</div>
<div>
  <% if logged_in? %>
    <br>
    <% if @user.dishes.exists?(@favcnt) %>
      <p>お気に入りに登録しているレシピです</p>
    <% else %>
      <%= link_to (button_tag "お気に入り登録"),
          {:controller => "recipe_pages" ,:action => "fav"},
          {:class => "btn"} %>
    <% end %>
  <% else %>
    <br>
    <%= link_to "会員登録するとお気に入り機能を利用できます", signup_path %>
  <% end %>
  <p>このレシピは<%= @favcnt.users.count %>人にお気に入り登録されています</p>
</div>
