<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="ja"> <!--<![endif]-->

  <head>
      <meta charset="utf-8">
      <title>今夜の献立に悩んだら／質問に答えるだけ！ 楽Laクック</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--モバイル端末で閲覧するための設定-->
      <meta name="author" content="ヒロコンの愉快な仲間たち" />  <!--サイトの著者-->
      <meta name="keyword" content="献立,レシピ,ご飯" />        <!--サイトの検索キーワード-->
      <meta name="description" content="広島コンピュータ専門学校の" />    <!--サイトの説明文-->

      <!--ここからCSSファイルの読み込み--------------------------------------------->
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css",:integrity => "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" , :crossorigin => "anonymous" ,:media => "all" %>
      <!--CSSファイルの読み込みここまで--------------------------------------------->
      <!--javascriptの読み込み-->
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <!--javascriptの読み込み終わり-->
      <%= csrf_meta_tags %>

      <!--ショートカットに表示する画像の設定(ファビコン)-------------------------------->
      <link rel="apple-touch-icon" sizes="180x180" href="img/charcter.png">
      <link rel="icon" href="img/charcter.png" sizes="32x32">
      <link rel="icon" href="img/charcter.png" sizes="16x16">
      <!--ショートカットの画像の設定ここまで------------------------------------------>
  </head>
<%= yield%>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
